#fquestion{
    background-color:blue;
    color:yellow;
}
#squestion{
    background-color:blue;
    color:green;
}
#tquestion{
    background:green;
    color:red;
}
#thquestion{
    background-color: black;
    color: blue;
}
#pquestion{
    color:green;
}
#p2question{
    background-color:yellow;
    color: blue;
}